/* Universal Styles */

body {
  background-color: black;
}

h4 {
  font-size: 22px;
}
.image-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  margin-top: 15px;
  font-weight: bold;
  font-size: 22px;
  color: white;
  text-align: center;
}

header {
  display: flex;
  position: fixed;
  align-items: center;
  height: 70px;
  width: 100%;
  font-family: Helvetica;
  font-size 22px;
  color: seashell;
  border-bottom: 1px solid seashell;
  background-color: black;
}

.logo {
  display: flex;
  flex-grow: 1;
}

.logo img {
  opacity: 0.9;
  height: 50px;
  padding-left: 10px;
}

.logo span {
  color: seashell;
}

header nav {
  padding-right: 40px;
}

nav span {
  padding: 20px 10px;
  opacity: 0.9;
  text-decoration: underline;
}

/* This is the Main Content of the Page */

.content {
  display: flex;
  justify-content: center;
  margin: 0 auto 78px auto;
  padding-top: 50px;

}
.mission {
  display: flex;
  background-image: url("file://C:/projects/Cozy/images/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  justify-content: center;}

.headline {
  background-color: black;
  align-items: center;
}
